@font-face {
    font-family: "icons";
    src: url("./icons.eot?6fc718bcf1530bcc16f692c919bd2e1a?#iefix") format("embedded-opentype"),
url("./icons.woff2?6fc718bcf1530bcc16f692c919bd2e1a") format("woff2"),
url("./icons.woff?6fc718bcf1530bcc16f692c919bd2e1a") format("woff"),
url("./icons.ttf?6fc718bcf1530bcc16f692c919bd2e1a") format("truetype"),
url("./icons.svg?6fc718bcf1530bcc16f692c919bd2e1a#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-px_bearing_24px:before {
    content: "\f101";
}
.icon-px_breaker_24px:before {
    content: "\f102";
}
.icon-px_capacitor_24px:before {
    content: "\f103";
}
.icon-px_device_24px:before {
    content: "\f104";
}
.icon-px_ephesus_fixture_24px:before {
    content: "\f105";
}
.icon-px_ephesus_gateway_24px:before {
    content: "\f106";
}
.icon-px_fan_24px:before {
    content: "\f107";
}
.icon-px_pump_24px:before {
    content: "\f108";
}
.icon-px_ssol_24px:before {
    content: "\f109";
}
.icon-px_utility_24px:before {
    content: "\f10a";
}
.icon-px_vfd_24px:before {
    content: "\f10b";
}
.icon-px_xstorage_24px:before {
    content: "\f10c";
}
.icon-px_xstorage_alt_24px:before {
    content: "\f10d";
}
.icon-px_flow_24px:before {
    content: "\f10e";
}
.icon-px_health_24px:before {
    content: "\f10f";
}
.icon-px_priority_24px:before {
    content: "\f110";
}
.icon-px_qrcode_24px:before {
    content: "\f111";
}
.icon-px_running_high_24px:before {
    content: "\f112";
}
.icon-px_running_low_24px:before {
    content: "\f113";
}
.icon-px_stop_24px:before {
    content: "\f114";
}
.icon-px_stopping_24px:before {
    content: "\f115";
}
