@font-face {
    font-family: "PXBlueIcons";
    src: url("./PXBlueIcons.eot?68a264bf87fbd7295caf7c1b0e7df850?#iefix") format("embedded-opentype"),
url("./PXBlueIcons.woff2?68a264bf87fbd7295caf7c1b0e7df850") format("woff2"),
url("./PXBlueIcons.woff?68a264bf87fbd7295caf7c1b0e7df850") format("woff"),
url("./PXBlueIcons.ttf?68a264bf87fbd7295caf7c1b0e7df850") format("truetype"),
url("./PXBlueIcons.svg?68a264bf87fbd7295caf7c1b0e7df850#PXBlueIcons") format("svg");
}

i[class^="pxb-"]:before, i[class*=" pxb-"]:before {
    font-family: PXBlueIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pxb-air_filter:before {
    content: "\f101";
}
.pxb-apple:before {
    content: "\f102";
}
.pxb-asparagus:before {
    content: "\f103";
}
.pxb-barley:before {
    content: "\f104";
}
.pxb-barley_alt:before {
    content: "\f105";
}
.pxb-barrel:before {
    content: "\f106";
}
.pxb-baseball:before {
    content: "\f107";
}
.pxb-basketball_hoop:before {
    content: "\f108";
}
.pxb-battery:before {
    content: "\f109";
}
.pxb-bearing:before {
    content: "\f10a";
}
.pxb-boxing_glove:before {
    content: "\f10b";
}
.pxb-breaker:before {
    content: "\f10c";
}
.pxb-broccoli:before {
    content: "\f10d";
}
.pxb-building:before {
    content: "\f10e";
}
.pxb-bypass_battery:before {
    content: "\f10f";
}
.pxb-camera:before {
    content: "\f110";
}
.pxb-capacitor_large:before {
    content: "\f111";
}
.pxb-car:before {
    content: "\f112";
}
.pxb-carrot:before {
    content: "\f113";
}
.pxb-chili_pepper:before {
    content: "\f114";
}
.pxb-combine_harvester:before {
    content: "\f115";
}
.pxb-computer:before {
    content: "\f116";
}
.pxb-contactor:before {
    content: "\f117";
}
.pxb-corn:before {
    content: "\f118";
}
.pxb-current:before {
    content: "\f119";
}
.pxb-current_circled:before {
    content: "\f11a";
}
.pxb-current_circled_outline:before {
    content: "\f11b";
}
.pxb-cybersecurity:before {
    content: "\f11c";
}
.pxb-cybersecurity_two_tone:before {
    content: "\f11d";
}
.pxb-department:before {
    content: "\f11e";
}
.pxb-departments:before {
    content: "\f11f";
}
.pxb-device:before {
    content: "\f120";
}
.pxb-environment:before {
    content: "\f121";
}
.pxb-ephesus_fixture:before {
    content: "\f122";
}
.pxb-ephesus_gateway:before {
    content: "\f123";
}
.pxb-factory:before {
    content: "\f124";
}
.pxb-fan:before {
    content: "\f125";
}
.pxb-flask:before {
    content: "\f126";
}
.pxb-flow:before {
    content: "\f127";
}
.pxb-flower:before {
    content: "\f128";
}
.pxb-flower_tulip:before {
    content: "\f129";
}
.pxb-football_helmet:before {
    content: "\f12a";
}
.pxb-forklift:before {
    content: "\f12b";
}
.pxb-fuel:before {
    content: "\f12c";
}
.pxb-garlic:before {
    content: "\f12d";
}
.pxb-gas_cylinder:before {
    content: "\f12e";
}
.pxb-generator:before {
    content: "\f12f";
}
.pxb-generator_off:before {
    content: "\f130";
}
.pxb-glasses:before {
    content: "\f131";
}
.pxb-grade_a:before {
    content: "\f132";
}
.pxb-grade_b:before {
    content: "\f133";
}
.pxb-grade_c:before {
    content: "\f134";
}
.pxb-grade_d:before {
    content: "\f135";
}
.pxb-grade_f:before {
    content: "\f136";
}
.pxb-grass:before {
    content: "\f137";
}
.pxb-health:before {
    content: "\f138";
}
.pxb-hockey_puck:before {
    content: "\f139";
}
.pxb-hockey_sticks:before {
    content: "\f13a";
}
.pxb-hops:before {
    content: "\f13b";
}
.pxb-incident:before {
    content: "\f13c";
}
.pxb-incident_active:before {
    content: "\f13d";
}
.pxb-incident_resolved:before {
    content: "\f13e";
}
.pxb-leaf:before {
    content: "\f13f";
}
.pxb-maintenance:before {
    content: "\f140";
}
.pxb-map_marker_multiple:before {
    content: "\f141";
}
.pxb-map_marker_three:before {
    content: "\f142";
}
.pxb-moisture:before {
    content: "\f143";
}
.pxb-network_switch:before {
    content: "\f144";
}
.pxb-outline_offline_bolt:before {
    content: "\f145";
}
.pxb-overlap:before {
    content: "\f146";
}
.pxb-pdu:before {
    content: "\f147";
}
.pxb-pepper:before {
    content: "\f148";
}
.pxb-pickup_truck:before {
    content: "\f149";
}
.pxb-piggy_bank:before {
    content: "\f14a";
}
.pxb-pipe:before {
    content: "\f14b";
}
.pxb-pipe_disconnected:before {
    content: "\f14c";
}
.pxb-pipe_leak:before {
    content: "\f14d";
}
.pxb-potato:before {
    content: "\f14e";
}
.pxb-power_circled:before {
    content: "\f14f";
}
.pxb-power_circled_outline:before {
    content: "\f150";
}
.pxb-priority:before {
    content: "\f151";
}
.pxb-pump:before {
    content: "\f152";
}
.pxb-push_notification:before {
    content: "\f153";
}
.pxb-push_notification_solid:before {
    content: "\f154";
}
.pxb-pxblue:before {
    content: "\f155";
}
.pxb-pxblue_small:before {
    content: "\f156";
}
.pxb-pxblue_small_alt:before {
    content: "\f157";
}
.pxb-pxgreen:before {
    content: "\f158";
}
.pxb-pxred:before {
    content: "\f159";
}
.pxb-pxwhite:before {
    content: "\f15a";
}
.pxb-qrcode:before {
    content: "\f15b";
}
.pxb-radio_handheld:before {
    content: "\f15c";
}
.pxb-road:before {
    content: "\f15d";
}
.pxb-road_variant:before {
    content: "\f15e";
}
.pxb-running_high:before {
    content: "\f15f";
}
.pxb-running_low:before {
    content: "\f160";
}
.pxb-satellite_uplink:before {
    content: "\f161";
}
.pxb-scan_qrcode:before {
    content: "\f162";
}
.pxb-server:before {
    content: "\f163";
}
.pxb-servers:before {
    content: "\f164";
}
.pxb-sign_caution:before {
    content: "\f165";
}
.pxb-silo:before {
    content: "\f166";
}
.pxb-soybean:before {
    content: "\f167";
}
.pxb-sports_car:before {
    content: "\f168";
}
.pxb-ssol:before {
    content: "\f169";
}
.pxb-stopped:before {
    content: "\f16a";
}
.pxb-stopping:before {
    content: "\f16b";
}
.pxb-studioblue:before {
    content: "\f16c";
}
.pxb-studioblue_outline:before {
    content: "\f16d";
}
.pxb-sunflower:before {
    content: "\f16e";
}
.pxb-support:before {
    content: "\f16f";
}
.pxb-switch:before {
    content: "\f170";
}
.pxb-temp:before {
    content: "\f171";
}
.pxb-tennis:before {
    content: "\f172";
}
.pxb-toggle_off:before {
    content: "\f173";
}
.pxb-toggle_off_outlined:before {
    content: "\f174";
}
.pxb-toggle_on:before {
    content: "\f175";
}
.pxb-toggle_on_outlined:before {
    content: "\f176";
}
.pxb-tomato:before {
    content: "\f177";
}
.pxb-tractor:before {
    content: "\f178";
}
.pxb-traffic_light:before {
    content: "\f179";
}
.pxb-tree:before {
    content: "\f17a";
}
.pxb-trending_down:before {
    content: "\f17b";
}
.pxb-trending_flat:before {
    content: "\f17c";
}
.pxb-trending_up:before {
    content: "\f17d";
}
.pxb-tripped:before {
    content: "\f17e";
}
.pxb-utility:before {
    content: "\f17f";
}
.pxb-utility_van:before {
    content: "\f180";
}
.pxb-vfd:before {
    content: "\f181";
}
.pxb-vmms:before {
    content: "\f182";
}
.pxb-voltage:before {
    content: "\f183";
}
.pxb-voltage_circled:before {
    content: "\f184";
}
.pxb-voltage_circled_outline:before {
    content: "\f185";
}
.pxb-water:before {
    content: "\f186";
}
.pxb-water_outline:before {
    content: "\f187";
}
.pxb-waveform:before {
    content: "\f188";
}
.pxb-wheat:before {
    content: "\f189";
}
.pxb-xstorage:before {
    content: "\f18a";
}
.pxb-xstorage_alt:before {
    content: "\f18b";
}
