<div style="margin: 72px 16px; text-align: center;">
    <battery-progress percent="80" size="36" color="#983fef" [charging]="true" [outlined]="true"></battery-progress>
    <heart-progress percent="10" size="36" color="#da7777" [outlined]="false"></heart-progress>
    <pie-progress percent="30" size="36" color="#0088f2" ring="4" [outlined]="true"></pie-progress>
    <ups-progress percent="70" size="36" color="#f0cb2f" [outlined]="false"></ups-progress>

    <div *ngFor="let position of ['center', 'top', 'right', 'bottom', 'left']" style="margin-top: 56px;">
        <div style="font-size: 32px;">labelPosition: {{ position }}</div>
        <div *ngFor="let size of [24, 36, 48, 72]" style="margin-top: 16px;">
            <div style="font-size: 16px;">{{ size }}px</div>
            <battery-progress
                percent="80"
                [size]="size"
                color="#983fef"
                showPercentLabel="true"
                [outlined]="true"
                [labelPosition]="position"
            ></battery-progress>
            <heart-progress
                percent="10"
                [size]="size"
                color="#da7777"
                showPercentLabel="true"
                [outlined]="false"
                [labelPosition]="position"
            ></heart-progress>
            <pie-progress
                percent="30"
                [size]="size"
                color="#0088f2"
                showPercentLabel="true"
                ring="4"
                [outlined]="true"
                [labelPosition]="position"
            ></pie-progress>
            <ups-progress
                percent="62"
                [size]="size"
                color="#f0cb2f"
                showPercentLabel="true"
                [outlined]="false"
                [labelPosition]="position"
            ></ups-progress>
        </div>
    </div>
</div>
