version: 2.1
orbs:
    gh: circleci/github-cli@1.0.3
jobs:
    build:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v2-dependencies-{{ checksum "package.json" }}-{{ checksum "packages/mui/package.json" }}-{{ checksum "packages/rn-vector/package.json"}}
            - run:
                  name: Install Dependencies
                  command: yarn install
            - save_cache:
                  paths:
                      - node_modules
                  key: v2-dependencies-{{ checksum "package.json" }}-{{ checksum "packages/mui/package.json" }}-{{ checksum "packages/rn-vector/package.json"}}
            - run:
                  name: Prettier Check
                  command: yarn prettier:check
            - run:
                  name: Build Font, SVG Icons, RN Vector Icons and MUI
                  command: yarn build
            - run:
                  name: Verify SVG Build and MUI Artifacts
                  command: yarn test
            - persist_to_workspace:
                  root: .
                  paths:
                      - packages/iconfont
                      - packages/svg
                      - packages/rn-vector
                      - packages/mui/dist
    build_reactdemo:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Install Dependencies
                  command: |
                      cd demos/react-demo
                      yarn install  

                      # Install the packed version of @brightlayer-ui/icons-mui
                       cd ../../mui
                       cp -a /dist/. demos/showcase/node_modules/@brightlayer-ui/icons-mui
            - run:
                  name: Prettier Check
                  command: |
                      cd demos/react-demo
                      yarn prettier:check
            - run:
                  name: Lint
                  command: |
                      cd demos/react-demo
                      yarn lint
            - run:
                  name: Build React Demo
                  command: |
                      cd demos/react-demo
                      yarn build
    publish:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run:
                  name: Authenticate with registry
                  command: |
                      echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
                      echo "//registry.yarnpkg.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            - run:
                  name: Publish @brightlayer-ui/icons
                  command: yarn publish:package -b $CIRCLE_BRANCH
            - run:
                  name: Publish @brightlayer-ui/icons-svg
                  command: cd packages/svg && yarn publish:package -b $CIRCLE_BRANCH
            - run:
                  name: Publish @brightlayer-ui/icons-mui
                  command: cd packages/mui && yarn publish:package -b $CIRCLE_BRANCH
            - run:
                  name: Publish @brightlayer-ui/react-native-vector-icons
                  command: cd packages/rn-vector && yarn publish:package -b $CIRCLE_BRANCH
    tag:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - gh/setup
            - run:
                  name: Tag @brightlayer-ui/icons
                  command: yarn tag:package -b $CIRCLE_BRANCH -s -blui-icons
            - run:
                  name: Tag @brightlayer-ui/icons-svg
                  command: cd packages/svg && yarn tag:package -b $CIRCLE_BRANCH -s -blui-icons-svg
            - run:
                  name: Tag @brightlayer-ui/icons-mui
                  command: cd packages/mui && yarn tag:package -b $CIRCLE_BRANCH -s -blui-icons-mui
            - run:
                  name: Tag @brightlayer-ui/react-native-vector-icons
                  command: cd packages/rn-vector && yarn tag:package -b $CIRCLE_BRANCH -s -blui-react-native-vector-icons
workflows:
    version: 2
    icons:
        jobs:
            - build
            - build_reactdemo
            - publish:
                  requires:
                      - build
                  filters:
                      branches:
                          only:
                              - master
                              - dev
            - tag:
                  requires:
                      - publish
                  filters:
                      branches:
                          only:
                              - master
