
.icon-aeronautics:before { content: '\e800'; } /* '' */
.icon-airport_alt:before { content: '\e801'; } /* '' */
.icon-airport_pin:before { content: '\e802'; } /* '' */
.icon-automotive:before { content: '\e803'; } /* '' */
.icon-barometer:before { content: '\e804'; } /* '' */
.icon-breaker:before { content: '\e805'; } /* '' */
.icon-carbonneutral:before { content: '\e806'; } /* '' */
.icon-datacenter:before { content: '\e807'; } /* '' */
.icon-demandresponse:before { content: '\e808'; } /* '' */
.icon-desk:before { content: '\e809'; } /* '' */
.icon-electricity:before { content: '\e80a'; } /* '' */
.icon-epdu:before { content: '\e80b'; } /* '' */
.icon-explosionproof:before { content: '\e80c'; } /* '' */
.icon-explosionwarning:before { content: '\e80d'; } /* '' */
.icon-floor:before { content: '\e80e'; } /* '' */
.icon-floorplan:before { content: '\e80f'; } /* '' */
.icon-floorplan_dark:before { content: '\e810'; } /* '' */
.icon-generator:before { content: '\e811'; } /* '' */
.icon-heat:before { content: '\e812'; } /* '' */
.icon-hospital:before { content: '\e813'; } /* '' */
.icon-hvac:before { content: '\e814'; } /* '' */
.icon-hydraulic:before { content: '\e815'; } /* '' */
.icon-leed:before { content: '\e816'; } /* '' */
.icon-microgrid:before { content: '\e817'; } /* '' */
.icon-military:before { content: '\e818'; } /* '' */
.icon-municipal:before { content: '\e819'; } /* '' */
.icon-oilandgas:before { content: '\e81a'; } /* '' */
.icon-oneline:before { content: '\e81b'; } /* '' */
.icon-regionalgrid:before { content: '\e81c'; } /* '' */
.icon-room:before { content: '\e81d'; } /* '' */
.icon-room_2:before { content: '\e81e'; } /* '' */
.icon-safetyharness:before { content: '\e81f'; } /* '' */
.icon-serverrack:before { content: '\e820'; } /* '' */
.icon-stadium:before { content: '\e821'; } /* '' */
.icon-stadium_2:before { content: '\e822'; } /* '' */
.icon-start:before { content: '\e823'; } /* '' */
.icon-start_on:before { content: '\e824'; } /* '' */
.icon-starter:before { content: '\e825'; } /* '' */
.icon-unlink:before { content: '\e826'; } /* '' */
.icon-ups:before { content: '\e827'; } /* '' */
.icon-wallstation:before { content: '\e828'; } /* '' */